/*///////////////
  NAV-MENU-POPUP
///////////////*/

.c-nav-popup {

  &__ls {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      width: 100%;

      text-align: center;
      list-style: none;
    }
}
