/*///////////////
BASIC-UTILITIES
///////////////*/

//  Alignment
.u-center-text {
  text-align: center !important;
}


//  Margins
.u-margin-bottom-sm {
  margin-bottom: 1.5rem !important;
}

.u-margin-bottom-md {
  margin-bottom: 4rem !important;

  @include respond(tab-port) {
    margin-bottom: 3rem !important;
  }
}

.u-margin-bottom-lg {
  margin-bottom: 8rem !important;

  @include respond(tab-port) {
    margin-bottom: 3rem !important;
  }
}

.u-margin-top-md {
  margin-top: 4rem !important;
}

.u-margin-left-xsm {
  margin-right: 2rem !important;
}


// Floats
.u-float-right {
  float: right;
}
